
/*** GENERAL SELECTORS ****************/

body {
  background-color: #e5edf2;
  color: #201a16;
  /* hey I"m not sure it makes sense to use em this high up since this em is a relative unit (and i'm not sure what it's relative to)? */
  font: 1em tahoma, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-family: 'Helvetica', georgia, sans-serif;
  margin: 1rem 0;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3125em;
}

p {
  margin: 1em 0;
  line-height: 1.4;
}

a {
  color: inherit;
}

section {
  margin-bottom: 10px;
}

section h1 {
  text-align: center;
}

.btn {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #eee;
  color: #201a16;
  font: 1em tahoma, sans-serif;
  line-height: 2.5;
  padding: 0 1em;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.ordered-list, .unordered-list {
  padding-left: 1.25em;
  margin: 1em 0;
  line-height: 1.4;
}

.ordered-list {
  list-style: decimal;
}

.unordered-list {
  list-style: disc;
}

.inline-list li { /* any li inside the .inline-list */
  display: inline-block;
}

.unmargin {
  margin: 0;
}


/*** HEADER & FOOTER ****************/

.top-bar, .footer-block {
  background-color: #201a16;
  color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 0 1em;
}

.top-bar {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;

}

.menuNav ul {
  list-style: none;
}

.header-block, .footer-block {
  background-color: #201a16;
  color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 0 1em;
}


.name {
  color: #fff;
  font: 1.25em 'Helvetica', georgia, sans-serif;
  line-height: 4;
  justify-self: left;
}

.nav-btn {
  justify-self: right;
}

.hamburger {
  width: 2.5em;
  padding: 0 0.5em;
  border: 0.0625em solid #fff;
  border-radius: 0.25em;
  background-color: transparent;
  margin: 0.5em auto;
}

.hamburger .bar {  /* any .bar inside the .hamburger */
  height: 0.125em;
  background-color: #fff;
  margin: 0.375em 0;
}

.top {
  grid-column: 1/3;
}

.menu-item {
  margin: 1em 0;
}

.menu-item a {  /* any 'a' inside of a .menu-item */
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}

.topMenu {
  grid-column: 1 / 3;
}
.topMenu li {
  list-style: none;
  border: 1px solid #ccc;
}

/*** MAIN CONTENT RULES ****************/

.primary-headings {
  border-left: 0.5em solid #8ac84b;
  margin: 2em 0;
  margin-left: 1em;
  padding: 0 1em;
}

.primary-headings h2 {
  color: #555;
}

.main-section {
  padding: 0 1em;
}

.section-heading {
  margin: 1rem 0;
}

.bio {
  background-color: white;
}
.portfolio{
  background-color: #E2FFE3;
}
.experience{
  background-color: #FFF7D1;
}

.grading {
  background-color: antiquewhite;
  overflow: hidden;
}

.topics {
  background-color: lightgoldenrodyellow;
  overflow: hidden;
}

.lessons-grid {
  margin: 1em 0;
}

.lesson {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 0 1em;
  margin: 1em 0; /* this spacing can be replaced with grid-gap on the parent grid */
  margin: 0;
}

.article-img {
  margin: 1em 0;
  border: 1px solid #ddd;
}

.article-img img {
  vertical-align: middle;
}

.readmore {
  color: #fff;
  background-color: #8ac84b;
}




/******************************************
              MEDIA QUERIES
*******************************************/

@media screen and (min-width: 640px) {

  .mainAll {
    width: 600px;
    margin: 0 auto;
  }
  .bioPic img {
    height: 200px;
  margin: auto;
  }

  .bio-grid {
    display: grid;
    /* 2 column template! (1 fraction each) */
    /* Use this as a guide:
      https://codepen.io/roccop/pen/WLQJXY?editors=1100
     */
     grid-template-columns: 1fr 1fr;
     grid-template-columns: repeat(2, 1fr);
     column-gap: 1em;
     row-gap: 1em;
  }
  .port-grid {
    display: grid;
    /* 2 column template! (1 fraction each) */
    /* Use this as a guide:
      https://codepen.io/roccop/pen/WLQJXY?editors=1100
     */
     grid-template-columns: repeat(2, 1fr);
     column-gap: 1em;
     row-gap: 1em;
  }
  .exp-grid {
    display: grid;
    /* 2 column template! (1 fraction each) */
    /* Use this as a guide:
      https://codepen.io/roccop/pen/WLQJXY?editors=1100
     */
     grid-template-columns: repeat(2, 1fr);
     column-gap: 1em;
     row-gap: 1em;
  }

}


@media screen and (min-width: 900px) {

  .mainAll {
    /* hey! This will cause horizontal scrolling between 900 - 1200px approximately, did you mean to set the width to narrower than 900?  Alternatively, could you set this with relative units (e.g. `90vw` or 90% of the viewport width?) */
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .main-header {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .bio {
    grid-column: 1/3;
    grid-row: 1/2;
    max-height: auto;
  }
  .bioPic {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .bioPic img {
    height: 400px;
  margin: auto;
  }

  .bioInfo {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .portfolio {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .portWeb {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid black;
  }
  .portGraphic {
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid black;

  }
  .portPhoto {
    grid-column: 3/4;
    grid-row: 1/2;
    border: 1px solid black;

  }
  .portAct {
    grid-column: 4/5;
    grid-row: 1/2;
    border: 1px solid black;

  }

  .experience {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .expEdu {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .expJobs {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .grading {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .topics {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .nav-btn {
    display: none;
  }

  .header-block {
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  ul.menuNav {
    /* 3 column template! (1 fraction each) */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .bio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .port-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
