
/*** GENERAL SELECTORS ****************/

body {
  background-color: #e5edf2;
  color: #201a16;
  font: 16px tahoma, sans-serif;
  line-height: 1;
}

h1, h2, h3 {
  font-family: 'Helvetica', georgia, sans-serif;
  margin: 1rem 0;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3125em;
}

p {
  margin: 1em 0;
  line-height: 1.4;
}

a {
  color: inherit;
}

section {
  margin-bottom: 10px;
}

section h1 {
  text-align: center;
}

.btn {
  display: inline-block;
  width: 100%;
  border: none;
  outline: none;
  text-decoration: none;
  background-color: #eee;
  color: #201a16;
  font: 1em tahoma, sans-serif;
  line-height: 2.5;
  padding: 0 1em;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.ordered-list, .unordered-list {
  padding-left: 1.25em;
  margin: 1em 0;
  line-height: 1.4;
}

.ordered-list {
  list-style: decimal;
}

.unordered-list {
  list-style: disc;
}

.inline-list li { /* any li inside the .inline-list */
  display: inline-block;
}

.unmargin {
  margin: 0;
}


/*** HEADER & FOOTER ****************/

.top-bar, .footer-block {
  background-color: #201a16;
  color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 0 1em;
}

.top-bar {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 10px;

}


.header-block, .footer-block {
  background-color: #201a16;
  color: #fff;
  text-align: center;
  overflow: hidden;
  padding: 0 1em;
}


.name {
  color: #fff;
  font: 1.25em 'Helvetica', georgia, sans-serif;
  line-height: 4;
  justify-self: left;
}

.nav-btn {
  justify-self: right;
}

.hamburger {
  width: 2.5em;
  padding: 0 0.5em;
  border: 0.0625em solid #fff;
  border-radius: 0.25em;
  background-color: transparent;
  margin: 0.5em auto;
}

.hamburger .bar {  /* any .bar inside the .hamburger */
  height: 0.125em;
  background-color: #fff;
  margin: 0.375em 0;
}

.top {
  grid-column: 1/3;
}

.menu-item {
  margin: 1em 0;
}

.menu-item a {  /* any 'a' inside of a .menu-item */
  color: white;
  text-decoration: none;
  font-size: 1.25em;
}
.menu-item a:hover {
  text-decoration: underline;
}



/*** MAIN CONTENT RULES ****************/

.primary-headings {
  border-left: 0.5em solid #8ac84b;
  margin: 2em 0;
  margin-left: 1em;
  padding: 0 1em;
}

.primary-headings h2 {
  color: #555;
}

.main-section {
  padding: 0 1em;
}

.section-heading {
  margin: 1rem 0;
}

.bio {
  background-color: white;
  height: 400px;
}
.portfolio{
  background-color: white;
}
.experience{
  background-color: white;
}

.portBtn {
  width:80%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  font-size: 14px;
  background-color: white;
  border-radius: 5px;
  text-decoration: none;

}
.portBtn a {
  text-decoration: none;
}
.portBtn a:hover {
  background-color: blue;
}

.modal {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.8);
}
.portPopup {
  display: block;
  width: 75vw;
  height: 80vh;
  padding: 2em;
  background-color: #b9c2cc;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button.close {
  display: block;
  border: none;
  outline: none;
  width: 1.25em;
  height: 1.25em;
  font: 1.5em Arial;
  background-color: #bc2a39;
  color: #e7c0b9;
  border-radius: 50%;
  line-height: 0;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  cursor: pointer;
}

button.close:active {
  background-color: #d4636f;
}



/******************************************
              MEDIA QUERIES
*******************************************/

@media screen and (min-width: 640px) {

  .mainAll {
    width: 600px;
    margin: 0 auto;
  }
  .bioPic img {
    height: 200px;
  margin: auto;
  }
  .portfolio img {
    width: 100%;
  }

  .portfolio h2 {
    text-align: center;
  }
  .portWeb button {
    margin: auto;
  }

  .bio-grid {
    display: grid;
     grid-template-columns: 50% 50%;
     /* grid-template-columns: repeat(2, 1fr); */
     /* column-gap: 5px; */
  }
  .port-grid {
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     column-gap: 1em;
  }
  .exp-grid {
    display: grid;
     grid-template-columns: repeat(2, 1fr);
     column-gap: 1em;
  }

}


@media screen and (min-width: 900px) {

  .mainAll {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat (3, 1fr);
  }

  .main-header {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .bio {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 400px;
  }
  .bioPic {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .bioPic img {
    height: 400px;
  margin: auto;
  }

  .bioInfo {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
    margin: auto;
    border-left: 1px solid black;
  }
  .portfolio {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .portfolio img {
    width: 100%;
  }
  .portfolio h2 {
    text-align: center;
  }
  .portWeb button {
    margin: auto;
  }

  .portWeb {
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid black;
    padding: 10px;
    background-color: #eee;
  }
  .portGraphic {
    grid-column: 2/3;
    grid-row: 1/2;
    border: 1px solid black;
    padding: 10px;
    background-color: #eee;
  }
  .portPhoto {
    grid-column: 3/4;
    grid-row: 1/2;
    border: 1px solid black;
    padding: 10px;
    background-color: #eee;
  }
  .portAct {
    grid-column: 4/5;
    grid-row: 1/2;
    border: 1px solid black;
    padding: 10px;
    background-color: #eee;
  }

  .experience {
    grid-column: 1/3;
    grid-row: 3/4;
  }
  .expEdu {
    grid-column: 1/2;
    grid-row: 1/2;
    padding-left:15px;
  }
  .expJobs {
    grid-column: 2/3;
    grid-row: 1/2;
  }


  .nav-btn {
    display: none;
  }

  .header-block {
    grid-template-columns: 1fr;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  ul.menuNav {
    /* 3 column template! (1 fraction each) */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
  }



  .bio-grid {
    grid-template-columns: 40% 60%;
    column-gap: 5px;
  }
  .port-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
